body{
	font-family: Tahoma, Sans-serif;
	margin: 0px;
}
ul{
	list-style-type: none;
}
li{
	display: inline;
	margin: 10px;
}
a {
	font-size: 20px;
	color: white;
	text-decoration: none;
}
.menu {
	text-align: right;
	background-color: purple;
	padding: 2px;
}
.busca{
	background-color: #ffe6ff;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
select{
	width: 50px;
}
.resultado{
	margin: 10px;
	padding: 10px;	
}
.rodape{
	background-color: purple;
	text-align: center;
	color: white;
	padding: 5px;
}
h2{
	color: purple;
}
table{
	width: 100%;	
	text-align: center;
	border: 2px solid purple;
}
th{
	background-color: purple;
	color: white;
}
.cor{
	background-color: #ffe6ff;
}